// Invoice Container
.invoice-container {
  @include flex-center;
  
  .invoice {
    width: 80rem;
    max-width: 1140px;
    padding: $padding;
    margin-top: 1rem;
    box-shadow: var(--shadow);
    //background-color: tomato;
    
    // Header
    .header {
      //background-color: rgb(164, 119, 204);
      text-align: right;
      border-bottom: 2px solid #2f2f2f;
      padding: $padding 1rem;
      p {
        margin-bottom: 5px;
      }
      h2 {
        margin-bottom: 0;
      }
      img {
        width: 8rem;
      }
    }
    
    // Details
    .details {
      //background-color: cyan;
      padding-top: $padding;
      padding-bottom: $padding;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      justify-content: space-between;
      
      .left, .right {
        width: 50%;
        h4 {
          margin-bottom: 1rem;
        }
        a {
          color: inherit;
        }
      }
      
      .right {
        text-align: right;
        p {
          margin-bottom: .5rem;
        }
      }
    }
    
    // Table
    .table {
      padding-top: $padding;
      padding-bottom: $padding;
      //background-color: greenyellow;
      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 1.6rem;
        .price-column, .quantity-column {
          text-align: center;
        }
        .amount-column {
          text-align: right;
        }
        th, td {
          text-align: left;
          padding: 1rem;
          border: 1px solid $table-border-color;
        }
        
        th {
          background-color: $thead-background-color;
        }
      }
      
      @media screen and (max-width: $mobile-breakpoint) {
        table, thead, tbody, th, td, tr {
          display: block;
        }
        
        thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
        
        tr {
          border: 1px solid #ccc;
        }
        
        td {
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50%;
          text-align: right;
          
          &:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
          }
        }
        
        td:nth-of-type(1):before { content: "Items"; }
        td:nth-of-type(2):before { content: "Quantity"; }
        td:nth-of-type(3):before { content: "Price"; }
        td:nth-of-type(4):before { content: "Amount"; }
      }
    }
    
    // Total Container
    .total-container {
      text-align: right;
      //background-color: rgb(232, 61, 201);
      span {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
        display: inline-block;
        
        &.label {
          font-weight: bold;
          padding-right: 4rem;
        }
        
        &.amount {
          padding-right: 1rem;
        }
      }
    }
    
    // Footer
    .footer {
      //background-color: wheat;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1rem;
      h4 {
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: .5rem;
      }
    }
  }
}