// Variables
$padding: 2rem;
$table-border-color: #ddd;
$thead-background-color: #f2f2f2;
$mobile-breakpoint: 600px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import 'invoice';
@import 'client';
